# Application
SHIPMENTS_PORT=50051

# AWS / DynamoDB
AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=shipments
# Uncomment for local DynamoDB / LocalStack:
# DYNAMODB_ENDPOINT=http://localhost:8000

# AWS / SQS
SQS_QUEUE_URL=http://localhost:4566/000000000000/shipments-events
# Uncomment for LocalStack:
# SQS_ENDPOINT=http://localhost:4566

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
