# App
NOTIFICATIONS_PORT=3001

# Postgres (write database by default)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# MongoDB (read database by default, CQRS read model)
MONGO_URI=mongodb://localhost:27017

# Database adapter selection (postgres | mongodb)
NOTIFICATIONS_DB_WRITE_ADAPTER=postgres
NOTIFICATIONS_DB_READ_ADAPTER=mongodb

# Redis
REDIS_URL=redis://localhost:6379

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=my-monorepo

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
